DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_LEADERBOARD_CHANNEL_ID=
DISCORD_COMMAND_CHANNEL_ID=
DISCORD_AURA_COMMAND_BLOCKED_CHANNEL_ID=
DISCORD_LEADERBOARD_MESSAGE_ID=

BOT_ADMIN_USER_IDS=
BOT_AUDIT_LOG_CHANNEL_ID=

CM_INTERNAL_INTEGRATIONS_API_ORIGIN=https://cheaters.market
CM_INTERNAL_INTEGRATIONS_API_CLIENT_ID=
CM_INTERNAL_INTEGRATIONS_API_KEY_ID=
CM_INTERNAL_INTEGRATIONS_API_HMAC_SECRET_BASE64=
CM_INTERNAL_INTEGRATIONS_API_TIMEOUT_MS=5000
